<!DOCTYPE html>
<html lang="es">
    <%-include('partes/head') %>

    <body>
        <div class="container ">
            <div class="d-flex align-items-center justify-content-center">
                <div id="mainDiv" class=" ">
                    <h1>Inicio de sesión</h1>
                    <form>
                        <h4 class="my-3">Correo</h4>
                        <div id="emailContainer">
                            <input class="w-100 form-control" type="text" name="email" id="email" placeholder="example@ucm.es">
                        </div>
                        <h4 class="my-3">Contraseña</h4>
                        <div id="passContainer" class="input-group">
                            <input class="w-100 form-control" type="password" name="contrasena" id="password" placeholder="Contraseña">
                        </div>
                        <div class="row my-4 d-flex align-items-center justify-content-center ">
                            <div class="col-8">
                                <input id="login" class="btn btn-primary w-100" type="submit" value="Iniciar sesión">
                            </div>
                            <div class="col-4">
                                <a class="btn btn-sm bg-secondary w-100 text-wrap" href="/users/register">¿No tienes cuenta?</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>