<!DOCTYPE html>
<html lang="es">
  <%-include('partes/head') %>
  <body>
    <div class="container">
      <div class="d-flex align-items-center">
        <div class="  mx-auto   ">
          <h1>Registro</h1>
          <form id="regUserForm" method="post" action="/users/register">

            <!--NOMBRE-->
            <div class="row">
              <div class="col" id="nameContainer">
                <h4 class="my-3">Nombre</h4>
                <input  class="w-100 form-control" id="name" type="text" name="nombre" placeholder="Nombre" required oninvalid="this.setCustomValidity('Ingrese su Nombre')"
                oninput="this.setCustomValidity('')">
              </div>
            </div>

            <!--CORREO Y TELEFONO-->
            <div class="row">
              <div class="col" id="emailContainer">
                <h4 class="my-3">Correo</h4>
                <input id="email" class="w-100 form-control" type="email" name="email" placeholder="example@ucm.es" required oninvalid="this.setCustomValidity('Ingrese su correo con formato correcto')"
                oninput="this.setCustomValidity('')">
              </div>
              <div class="col" id="telContainer">
                <h4 class="my-3">Teléfono</h4>
                <input id="telefono" class=" w-100 form-control" name="telefono"  type="tel" >
              </div>
            </div>

            <!--CONTRASEÑA Y CONFIRMAR-->
            <div class="row">
              <div class="col" id="passContainer">
                <h4 class="my-3">Contraseña</h4>
                  <input class="w-100 form-control" type="password" name="contrasena" id="password" placeholder="Contraseña" 
                  pattern="[a-zA-Z0-9]{2,20}"
                  oninvalid="this.setCustomValidity('Su contraseña ha de contener entre 2 y 20 caracteres alfanumericos')"
                  oninput="this.setCustomValidity('')"
                  required>
              </div>
              <div id="confirmContainer" class="col">
                <h4 class="my-3">Confirmación</h4>
                  <input class="w-100 form-control" type="password" name="contrasenaConf" id="confirmPassword" placeholder="Contraseña" 
                  pattern="[a-zA-Z0-9]{2,20}"
                  required>
              </div>
            </div>
              
            <!--FACULTAD-->
            <div class="row">
              <div class="col">
                <h4 class="my-3">Facultad</h4>
                <select id="facultad" name="Curso" class="w-100" required>
                  <option hidden selected>Selecciona una opción</option>
                  <% facultades.forEach( ele=> { %>
                    <option value="<%=ele.id%>#<%=ele.nombre%>"><%=ele.nombre%></option>
                    <%})%>
                  </select>
                </div>
            </div>

            <!-- ROL -->
            <div class="row">
              <h4 class="my-3 w-100"> Rol</h4>
              <div class="col d-flex flex-column justify-content-center text-center">
                  <label for="buttonAsistente">Asistente </label>
                  <input type="radio" name="userType" id="rankUser" checked>
              </div>
              <div class="col d-flex flex-column justify-content-center text-center ">
                  <label for="buttonOrganizador">Organizador </label>
                  <input type="radio" name="userType">
              </div>
            </div>

            <!--BOTON-->
            <div class="row d-flex my-4">
              <button id="register" class=" w-50  btn btn-primary  mx-auto " type="submit">Registrarme</button>            </div>
          </form>

          </form>
        </div>
      </div>
    </div>
  </body>
</html>