<header>
<div class="header d-flex">
    <div class="headerLinks">
        <a href="/">Home</a>
        <a href="/events/eventViewer">Eventos</a>
    </div>
    <div class="miPerfil">
        <% console.log("Soy plantilla header:", hasNotification)%>
        <% if (typeof hasNotification !== 'undefined') { %>
            <% let iconPath = hasNotification ? "/img/hasNotification.png" : "/img/noNotification.png"; %>
            <a href="/notificaciones"><img src="<%= iconPath %>" alt="<%= hasNotification ? 'Tienes notificaciones' : 'No tienes notificaciones' %>" class="notifier"></a>
        <% } else { %>
            <img src="/img/noNotification.png" alt="Estado desconocido de notificaciones" class="notifier">
        <% } %>
        <a href="/users/profile">
            <img src="/img/placeholderEvento.jpg" alt="Perfil de usuario" class="profileIcon">
        </a>
    </div>
</div>
</header>